@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --color-closeForms: #ff0000;
  /* #root */
  --color-backgroundRoot: #d3d3d3;
  /* App */
  --color-backgroundApp: #fff;
  --color-textApp: #000;
  /* CardUser */
  --color-borders: #d8d8d8;
  --color-backgroundCard: #ffffff;
  --color-dividerCard: #d8d8d8;
  
  /* FormUser */
  --color-backgroundForm: #ffffff;
  --color-backgroundInputs: #F9FAFC;
  --color-placeholders: #9e9e9e;
  --color-buttonForm: #555A88;

  /* EmptyUsersContainer */
  --color-icon: #6e6e6e;
  /* Dark mode button */
  --color-borderOutside: #808080;
  --color-icons: #000;
  --color-buttonDarkmode: #000;
}
.root--darkmode {
  --color-closeForms: #ff0000;
  /* #root */
  --color-backgroundRoot: #23272a;
  /* App */
  --color-backgroundApp: #2c2f33;
  --color-textApp: #fff;
  /* CardUser */
  --color-borders: #36393F;
  --color-backgroundCard: #36393F;
  --color-dividerCard: #757b85;
  /* FormUser */
  --color-backgroundForm: #424449;
  --color-backgroundInputs: #8d929c;
  --color-placeholders: #c9c9c9;
  --color-buttonForm: #555A88;
  /* EmptyUsersContainer */
  --color-icon: #999999;
  /* Dark mode button */
  --color-borderOutside: #fff;
  --color-icons: #ffdd6f;
  --color-buttonDarkmode: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  background-color: #000;
}

#root {
  background-color: var(--color-backgroundRoot);
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  display: inline-block;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
  outline: 0;
}

input {
  outline: 0;
  border: none;
  color: inherit;
  appearance: none;
  border-radius: 0;
}

.u-close-form {
  cursor: pointer;
  color: var(--color-closeForms);
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  aspect-ratio: 1;
  font-size: 1.1rem;
  line-height: 0;
}

.swal2-container {
  z-index: 20000 !important;
}